extends ../layout

block content
    // branch information
    .container
        section
            .row
                .col-md-12
                    h1= branch.name
            .row
                .col-md-12
                    .panel.panel-default
                        .panel-heading
                            h2.panel-title
                                i.fas.fa-code-branch
                                |  Branch Information
                        .panel-body
                            p
                                h5
                                    span.label.label-info
                                        i.fa.fa-location-arrow
                                        | &nbsp;Branch Address
                                    | &nbsp;
                                    span.hash= branch_address
                            p
                                span.label.label-info Branch Name
                                | &nbsp;
                                span= branch.name
                            p
                                span.label.label-info Branch Description
                                | &nbsp;
                                span= branch.meta.description
                            if branch.type != 'immutable'
                                p
                                    h5
                                        span.label.label-info Reputation Score
                                        | &nbsp;
                                        span.number #{sacred[branch_address]}
                                p
                                    h5
                                        span.label.label-info
                                            i.fa.fa-yandex-international
                                            | YEED
                                        | &nbsp;
                                        span #{yeed[branch_address]}

                            p
                                h5
                                    span.label.label-info Branch Type
                                    | &nbsp;
                                    span= branch.type

        section
            // self account information
            .row
                .col-md-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title
                                i.far.fa-user-circle
                                |  Your Account
                        .panel-body
                            p
                                h4
                                    span.label.label-default address
                                    | &nbsp;
                                    span.hash d04b98f48e8f8bcc15c6ae5ac050801cd6dcfd428fb5f9e65c4e16e7807340fa
                            p
                                h4
                                    span.label.label-default balance
                                    | &nbsp;
                                    span 1234567.12345678
        section#CurrencyTabs
            .row
                .col-md-12
                    ul.nav.nav-tabs.nav-justified
                        li.active(role="presentation")
                            a(href="#Transfer") Transfer
                        li(role="presentation")
                            a(href="#TransferFrom") Transfer From
                        li(role="presentation")
                            a(href="#Approve") Approve
        .tab-content
            section#Transfer.tab-pane.active
                .row
                    .col-md-12
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title Transfer
                            .panel-body
                                form
                                    p
                                        .input-group
                                            span.input-group-addon(for='transfer-to')
                                                i.fa.fa-location-arrow
                                                | &nbsp;To Address
                                            input#transfer-to.form-control(placeholder="account address")
                                    p
                                        .input-group
                                            span.input-group-addon(for='transfer-value') Value
                                            input#transfer-value.form-control(placeholder="Value",min="0",data-bind="value:replyNumber")
                                    p
                                        .input-group
                                            span.input-group-addon(for='transfer-data') data
                                            input#transfer-data.form-control(placeholder="0x0")
                                    p
                                        span#transfer-btn.btn.btn-success(data-toggle="modal",data-target="#sendTransaction")
                                            i.glyphicon.glyphicon-modal-window
                                            |  Send

            section#TransferFrom.tab-pane
                .row
                    .col-md-12
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title Transfer From
                            .panel-body
                                form
                                    p
                                        .input-group
                                            span.input-group-addon(for='transfer-from')
                                                i.fa.fa-location-arrow
                                                | &nbsp;From Address
                                            input#transfer-from.form-control(placeholder="account address")
                                    p
                                        .input-group
                                            span.input-group-addon(for='transfer-to')
                                                i.fa.fa-location-arrow
                                                | &nbsp;To Address
                                            input#transfer-from-to.form-control(placeholder="account address")
                                    p
                                        .input-group
                                            span.input-group-addon(for='transfer-from-value') Value
                                            input#transfer-from-value.form-control(placeholder="Value",min="0",data-bind="value:replyNumber")
                                    p
                                        .input-group
                                            span.input-group-addon(for='transfer-from-data') data
                                            input#transfer-from-data.form-control(placeholder="0x0")
                                    p
                                        span#transfer-from-btn.btn.btn-success(data-toggle="modal",data-target="#sendTransaction")
                                        i.glyphicon.glyphicon-modal-window
                                        |  Send

            section#Approve.tab-pane
                .row
                    .col-md-12
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title Approve
                            .panel-body
                                form
                                    p
                                        .input-group
                                            span.input-group-addon(for='approve-account')
                                                i.fa.fa-location-arrow
                                                | &nbsp;To Address
                                            input#allocate-account.form-control(placeholder="account address")
                                    p
                                        .input-group
                                            span.input-group-addon(for='approve-value') Value
                                            input#allocate-value.form-control(placeholder="Value",min="0",data-bind="value:replyNumber")
                                    p
                                        .input-group
                                            span.input-group-addon(for='approve-data') data
                                            input#allocate-data.form-control(placeholder="0x0")
                                    p
                                        span#allocate-btn.btn.btn-success(data-toggle="modal",data-target="#sendApprove")
                                        i.glyphicon.glyphicon-modal-window
                                        |  approve


        include ../partial/history

        section
            .row
                .col-md-12
                    a.btn.btn-danger(href="/") Yggdrash Stem Branch

        #sendTransaction.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Send Transaction')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title Send Transaction
                    .modal-body
                        form
                            .form-group
                                label.label.label-info address
                                | &nbsp;
                                span.hash da8562e7abc01a6f0d49a25d144ce6a9d7752a079c5d950ad5a93fd6d623f7fd

                            .form-group
                                label.control-label(for='transctionSign') Password:
                                input#transctionSign.form-control(type='password')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button#sndTransactionBtn.btn.btn-primary(type='button', data-toggle="modal",data-target="#signComplate") Send Transaction

        #signComplate.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Send Transaction')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title Send Transaction
                    .modal-body
                        span Transaction is Complate
                        | &nbsp;
                        span.hash da8562e7abc01a6f0d49a25d144ce6a9d7752a079c5d950ad5a93fd6d623f7fd
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close

block footscript
    script.
        $(function(){
            $('#sendTransaction').modal('hide');

            $("#sndTransactionBtn").on('click', function(){
                $('#sendTransaction').modal('hide');
                }
            );
            $('#CurrencyTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
        });