extends ../layout
-
    var branch_name = "";
    var patialBranch = {};
block content
    // branch information
    -
        var from_branch = ledger["currency"][branch["meta"]["from"]];
        var to_branch = ledger["currency"][branch["meta"]["to"]];
        patialBranch = {
            "title":"",
            "address":branch_address,
            "description":branch["meta"]["description"],
            "name":branch["name"],
            "type":branch["type"]
        }
    .container
        section
            .row
                .col-md-12
                    p
                        h1 Branch Chain
                    p
                        h2= branch.name
                            | &nbsp;Branch
            .row
                .col-md-12
                    include ../partial/branch_info

        section#exchange-from-branch
            -
                patialBranch = {
                    "title":"From ",
                    "address":branch["meta"]["from"],
                    "description":from_branch["meta"]["description"],
                    "name":from_branch["name"],
                    "type":from_branch["type"]
                }
            .row
                .col-md-12
                    include ../partial/branch_info

        section#exchange-to-branch
            -
                patialBranch = {
                    "title":"To ",
                    "address":branch["meta"]["to"],
                    "description":to_branch["meta"]["description"],
                    "name":to_branch["name"],
                    "type":to_branch["type"]
                }
            .row
                .col-md-12
                    include ../partial/branch_info

        section
            // self account information
            .row
                .col-md-12
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title
                                i.far.fa-user-circle
                                |  #{from_branch["name"]} Branch Account
                        .panel-body
                            p
                                h4
                                    span.label.label-default
                                        i.fas.fa-location-arrow
                                        |  #{from_branch["name"]} Branch address
                                    | &nbsp;
                                    a(href='/currency/#{branch["meta"]["from"]}')
                                        span.hash #{branch["meta"]["from"]}
                            p
                                h4
                                    span.label.label-default
                                        i.far.fa-user-circle
                                        |  Your Account
                                    | &nbsp;
                                    span.hash 0X75E2C5175E2E618F48E70343B14C31B280E42D90
                            p
                                h4
                                    span.label.label-default balance
                                    | &nbsp;
                                    span#accountBalance 1234567.12345678


        section
            .row
                .col-md-12
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title Exchange Ratio
                        .panel-body
                            input(type="hidden",name="branch_address",value='#{branch["meta"]["to"]}')
                            p
                                span.label.label-info from
                                | &nbsp;
                                a(href='/currency/#{branch["meta"]["from"]}')
                                    i.glyphicon.glyphicon-bitcoin
                                    | #{from_branch["meta"]["symbol"]}
                                | &nbsp;
                                if from_branch["type"] != 'immutable'
                                    span.label.label-info RP
                                        |  #{sacred[branch["meta"]["from"]]}
                                    | &nbsp;
                                    span.label.label-info YEED
                                        | #{yeed[branch["meta"]["from"]]}
                                else
                                    span.label.label-success immutable

                            p
                                span.label.label-info to
                                a(href='/currency/#{branch["meta"]["to"]}')
                                    i.glyphicon.glyphicon-bitcoin
                                    | #{to_branch["meta"]["symbol"]}
                                | &nbsp;
                                if to_branch["type"] != 'immutable'
                                    span.label.label-info RP
                                        |  #{sacred[branch["meta"]["to"]]}
                                    | &nbsp;
                                    span.label.label-info YEED
                                        | #{yeed[branch["meta"]["to"]]}
                                else
                                    span.label.label-success immutable
                            p
                                span.label.label-info ratio
                                span 1 : #{branch_data["ratio"]}
                            p
                                span.label.label-info reserve address
                                | &nbsp;
                                span.resolver-address #{branch_data["reserve_address"]}
                            p
                                span.label.label-info reserved amount
                                | &nbsp;
                                span.resolver.number #{branch_data["reserve"]}

        section
            .row
                .col-md-12
                    .panel.panel-success
                        .panel-heading
                            h3.panel-title
                                i.fas.fa-exchange-alt
                                |  Exchange
                        .panel-body
                            form
                                p
                                    .input-group
                                        span.input-group-addon(for='exchange-value') Value
                                        input#exchange-value.form-control(placeholder="Value",min="0",data-bind="value:replyNumber")
                                p
                                    .input-group
                                        span.input-group-addon(for='exchange-data') data
                                        input#exchange-data.form-control(placeholder="0x0")
                                p
                                    span#exchange-btn.btn.btn-success(data-toggle="modal",data-target="#sendTransaction")
                                        i.fas.fa-exchange-alt
                                        |  Exchange
        include ../partial/history

        section
            .row
                .col-md-12
                    a.btn.btn-danger(href="/") Yggdrash Stem Branch

        #sendTransaction.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Send Transaction')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title Send Transaction
                    .modal-body
                        form
                            .form-group
                                label.label.label-info address
                                | &nbsp;
                                span.hash da8562e7abc01a6f0d49a25d144ce6a9d7752a079c5d950ad5a93fd6d623f7fd

                            .form-group
                                label.control-label(for='transctionSign') Password:
                                input#transctionSign.form-control(type='password')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button#sndTransactionBtn.btn.btn-primary(type='button', data-toggle="modal",data-target="#signComplate") Send Transaction

        #signComplate.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Send Transaction')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4.modal-title Send Transaction
                    .modal-body
                        span Transaction is Complate
                        | &nbsp;
                        span.hash da8562e7abc01a6f0d49a25d144ce6a9d7752a079c5d950ad5a93fd6d623f7fd
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close

block footscript
    script(type="text/javascript").
        $(function(){
            $('#sendTransaction').modal('hide');

            $("#sndTransactionBtn").on('click', function(){
                $('#sendTransaction').modal('hide');
                }
            );
            axios.get('/api/branch/#{branch["meta"]["from"]}').then(function (res) {
                $("#accountBalance").text(res.data.result["0X75E2C5175E2E618F48E70343B14C31B280E42D90"]).digits();
            });
            axios.get('/api/branch/#{branch["meta"]["to"]}').then(function (res) {
                var resolverAmount = res.data.result['#{branch_data["reserve_address"]}'];
                $("span.resolver").text(resolverAmount).digits();
            })
        });
