extends layout

block content
  section.page-section-ptb
    .container
      .row
        .col-md-12.center
          h1 Yggdrash Stem Chain Browser
    .container
      .row
        .col-md-12
          h2 Currency Chains
      .row
        each index,val in ledger["currency"]
          .col-md-3
            ul.list-group
              li.list-group-item
                a.btn.btn-defalt(href="/currency/#{val}", alt="#{val}",data-toggle="tooltip", data-placement="top", title="#{val}")
                  i.glyphicon.glyphicon-bitcoin
                  |  #{ledger["currency"][val]["meta"]["symbol"]}
              li.list-group-item #{ledger["currency"][val]["meta"]["description"]}
              li.list-group-item
                if ledger["currency"][val]["type"] == "immutable"
                  span.label.label-success immutable
                if ledger["currency"][val]["type"] !== "immutable"
                  span.label.label-info RP
                  |  #{sacred[val]}
                if yeed[val] !== undefined
                    span.badge
                      span.label YEED
                      | #{yeed[val]}
              li.list-group-item
                .hash.word-break
                  a(href='/account/#{ledger["currency"][val]["owner"]}')
                    | #{ledger["currency"][val]["owner"]}
                  | &nbsp;
                  span.label.label-info RP
                    |  #{sacred[ledger["currency"][val]["owner"]]}

      .row
        .col-md-12
          h2 Decentralized Exchange Chains
      .row
          each index,val in ledger["exchange"]
            .col-md-3
              ul.list-group
                li.list-group-item
                  a.btn.btn-defalt(href="/exchange/#{val}", alt="#{val}",data-toggle="tooltip", data-placement="top", title="#{val}")
                    i.glyphicon.glyphicon-bitcoin
                    |  #{ledger["exchange"][val]["meta"]["symbol"]}
                li.list-group-item #{ledger["exchange"][val]["meta"]["description"]}
                li.list-group-item
                  if ledger["exchange"][val]["type"] == "immutable"
                    span.label.label-success immutable
                  if ledger["exchange"][val]["type"] !== "immutable"
                    span.label.label-info RP
                    |  #{sacred[val]}
                  if yeed[val] !== undefined
                    span.badge
                      span.label YEED
                      | #{yeed[val]}
                li.list-group-item
                  span.label.label-info From
                  | &nbsp;
                  a(href='/currency/#{ledger["exchange"][val]["meta"]["from"]}')
                    i.glyphicon.glyphicon-bitcoin
                    |  #{ledger["currency"][ledger["exchange"][val]["meta"]["from"]]["meta"]["symbol"]}

                li.list-group-item
                  span.label.label-info To
                  | &nbsp;
                  a(href='/currency/#{ledger["exchange"][val]["meta"]["to"]}')
                    i.glyphicon.glyphicon-bitcoin
                    |  #{ledger["currency"][ledger["exchange"][val]["meta"]["to"]]["meta"]["symbol"]}
                li.list-group-item
                  .hash.word-break
                    a(href='/account/#{ledger["exchange"][val]["owner"]}')
                      | #{ledger["exchange"][val]["owner"]}
                    | &nbsp;
                    span.label.label-info RP
                      |  #{sacred[ledger["exchange"][val]["owner"]]}
      .row
        .col-md-12
          h2 Digital Asset Chains
      .row
        each index,val in ledger["asset"]
          .col-md-3
            ul.list-group
              li.list-group-item
                a.btn.btn-defalt(href="/asset/#{val}", alt="#{val}",data-toggle="tooltip", data-placement="top", title="#{val}")
                  i.glyphicon.glyphicon-bitcoin
                  |  #{ledger["asset"][val]["meta"]["symbol"]}
              li.list-group-item #{ledger["asset"][val]["meta"]["description"]}
              li.list-group-item
                if ledger["asset"][val]["type"] == "immutable"
                  span.label.label-success immutable
                if ledger["asset"][val]["type"] !== "immutable"
                  span.label.label-info RP
                  |  #{sacred[val]}
                if yeed[val] !== undefined
                  span.badge
                    span.label YEED
                    | #{yeed[val]}
              li.list-group-item
                .hash.word-break
                  a(href='/account/#{ledger["asset"][val]["owner"]}')
                    | #{ledger["asset"][val]["owner"]}
                  | &nbsp;
                  span.label.label-info RP
                    |  #{sacred[ledger["asset"][val]["owner"]]}
      .row
        .col-md-12
          h2 Service Chains
      .row
        each index,val in ledger["services"]
          .col-md-6
            ul.list-group
              li.list-group-item
                a.btn.btn-defalt(href="/services/#{val}", alt="#{val}",data-toggle="tooltip", data-placement="top", title="#{val}")
                  i.glyphicon.glyphicon-bitcoin
                  |  #{ledger["services"][val]["meta"]["symbol"]}
              li.list-group-item #{ledger["services"][val]["meta"]["description"]}
              li.list-group-item
                if ledger["services"][val]["type"] == "immutable"
                  span.label.label-success immutable
                if ledger["services"][val]["type"] !== "immutable"
                  span.label.label-info RP
                  |  #{sacred[val]}
                if yeed[val] !== undefined
                  span.badge
                    span.label YEED
                    | #{yeed[val]}
              li.list-group-item
                .hash.word-break
                  a(href='/account/#{ledger["services"][val]["owner"]}')
                    | #{ledger["services"][val]["owner"]}
                  | &nbsp;
                  span.label.label-info RP
                    |  #{sacred[ledger["services"][val]["owner"]]}
