extends layout

block content
  section.page-section-ptb
    .container
      .row
        .col-md-12.center
          h1 Yggdrash Browser
    .container
      .row
        .col-md-12
          h2 Currency
      .row
        each index,val in ledger["currency"]
          .col-md-3
            ul.list-group
              li.list-group-item
                a.btn.btn-defalt(href="/currency/#{val}", alt="#{val}",data-toggle="tooltip", data-placement="top", title="#{val}")
                  i.glyphicon.glyphicon-bitcoin
                  |  #{ledger["currency"][val]["meta"]["symbol"]}
              li.list-group-item #{ledger["currency"][val]["meta"]["description"]}
              li.list-group-item
                if ledger["currency"][val]["type"] == "immutable"
                  span.label.label-success immutable
                if ledger["currency"][val]["type"] !== "immutable"
                  span.label.label-info RP
                  |  #{sacred[val]}
                if yeed[val] !== undefined
                    span.badge
                      span.label YEED
                      | #{yeed[val]}
              li.list-group-item
                .hash.word-break
                  a(href='/account/#{ledger["currency"][val]["owner"]}')
                    | #{ledger["currency"][val]["owner"]}
                  | &nbsp;
                  span.label.label-info RP
                    |  #{sacred[ledger["currency"][val]["owner"]]}

      .row
        .col-md-12
          h2 Decentralized Exchanges
      .row

          each index,val in ledger["exchange"]
            .col-md-3
              ul.list-group
                li.list-group-item
                  a.btn.btn-defalt(href="/currency/#{val}", alt="#{val}",data-toggle="tooltip", data-placement="top", title="#{val}")
                    i.glyphicon.glyphicon-bitcoin
                    |  #{ledger["exchange"][val]["meta"]["symbol"]}
                li.list-group-item #{ledger["exchange"][val]["meta"]["description"]}
                li.list-group-item
                  if ledger["exchange"][val]["type"] == "immutable"
                    span.label.label-success immutable
                  if ledger["exchange"][val]["type"] !== "immutable"
                    span.label.label-info RP
                    |  #{sacred[val]}
                  if yeed[val] !== undefined
                    span.badge
                      span.label YEED
                      | #{yeed[val]}
                li.list-group-item
                  - console.log(ledger["currency"][ledger["exchange"][val]["meta"]["from"]]);
                  - console.log("\n");
                  span.label.label-info From
                  a(href='/currency/#{ledger["exchange"][val]["meta"]["from"]}') &nbsp;
                    i.glyphicon.glyphicon-bitcoin
                    |  #{ledger["currency"][ledger["exchange"][val]["meta"]["from"]]["meta"]["symbol"]}

                li.list-group-item
                  span.label.label-info To
                  a(href='/currency/#{ledger["exchange"][val]["meta"]["to"]}') &nbsp;
                    i.glyphicon.glyphicon-bitcoin
                    |  #{ledger["currency"][ledger["exchange"][val]["meta"]["to"]]["meta"]["symbol"]}
                li.list-group-item
                  .hash.word-break
                    a(href='/account/#{ledger["exchange"][val]["owner"]}')
                      | #{ledger["exchange"][val]["owner"]}
                    | &nbsp;
                    span.label.label-info RP
                      |  #{sacred[ledger["exchange"][val]["owner"]]}



      .row
        .col-md-12
          h2 Asset

      .row
        .col-md-12
          h2 Service
      .row
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름
      .row
        .col-md-12
          h2 Asset
      .row
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item GOLD
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item LAND
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item ...
            li.list-group-item 이름
        .col-md-3
          ul.list-group.list-unstyled
            li.list-group-item 사진
            li.list-group-item 이름