- var patialBranch = patialBranch ? patialBranch : {};
.panel.panel-info
    .panel-heading
        h2.panel-title
            i.fas.fa-code-branch
            |  #{patialBranch.title} Branch Information
    .panel-body
        table.table.table-bordered
            tr
                th.info
                    i.fa.fa-location-arrow
                    |  Network Address
                td
                    span.hash  #{patialBranch.address}
            tr
                th.info
                    i.fas.fa-tag
                    |  Name
                td
                    span  #{patialBranch.name}
            tr
                th.info
                    i.far.fa-sticky-note
                    |  Description
                td
                    span  #{patialBranch.description}
            if patialBranch.type != 'immutable'
                tr
                    th.info
                        i.far.fa-star
                        |  Reputation Score
                    td
                        span.number #{sacred[patialBranch.address]}
                tr
                    th.info
                        i.fas.fa-cubes
                        |  YEED
                    td
                        span.number #{patialBranch.yeed}
            tr
                th.info
                    i.fas.fa-archive
                    |  Type
                td
                    span  #{patialBranch.type}

