- console.log(branch["yeed"]);
.panel.panel-default
    .panel-heading
        h2.panel-title
            i.fas.fa-code-branch
            |  Branch Information
    .panel-body
        h5
            span.label.label-info
                i.fa.fa-location-arrow
                |  Network Address
            span.hash
                |  #{branch_address}
        h5
            span.label.label-info Name
            | &nbsp;
            span= branch.name
        h5
            span.label.label-info Description
            | &nbsp;
            span= branch.meta.description
        if branch.type != 'immutable'
            h5
                span.label.label-info Reputation Score
                | &nbsp;
                span.number #{sacred[branch_address]}
            h5
                span.label.label-info
                    i.fas.fa-cubes
                    |  YEED
                | &nbsp;
                span.number #{yeed}

        p
            h5
                span.label.label-info Type
                | &nbsp;
                span= branch.type