.panel.panel-default
    .panel-heading
        h2.panel-title Branch Information
    .panel-body
        h5
            span.label.label-info
                i.fa.fa-location-arrow
                | &nbsp;Network Address &nbsp;
            span.hash= branch_address
        h5
            span.label.label-info Name
            | &nbsp;
            span= branch.name
        h5
            span.label.label-info Description
            | &nbsp;
            span= branch.meta.description
        if branch.type != 'immutable'
            h5
                span.label.label-info Reputation Score
                | &nbsp;
                span.number #{sacred[branch_address]}
            h5
                span.label.label-info
                    i.fa.fa-yandex-international
                    | YEED
                | &nbsp;
                span.number #{yeed[branch_address]}

        p
            h5
                span.label.label-info Type
                | &nbsp;
                span= branch.type